# What is language?
Language is a structured system of communication that consists of grammar and vocabulary.
* Grammer=set of rules
* Vocabulary= Data or information

# What is python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
* Like human language programming language also have grammer and vacabulary in form of syntax and data.

## Important terminology
* Syntax=set of rule
* Data = information
* Indentation= it is a spaces at the beginning of a code line.
* Variables= It is used to store the data.
* Comments= It is used to in code the documentation.

# Syntax
Set of rule how to write scripts

In [57]:
print("Hello")

Hello

In [58]:
print(Hello)

NameError: ignored

# Indentation= it is a spaces at the beginning of a code line.

In [59]:
print("Hello")

Hello

In [60]:
      print("Hello")

Hello

# Comments= It is used to in code the documentation.

In [63]:
""" Here we use print function.

 Hello Amit
 Kaise ho


 """
print("Hello")

Hello

In [62]:
"""Multiline comments write in triple quotes"""
a=3
b=5
a+b

8

#Variables= It is used to store the data.

## Variable Names
* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*Variable names are case-sensitive (age, Age and AGE are three different variables)

## Multi Words Variable Names
 ### Camel Case
Each word, except the first, starts with a capital letter

In [ ]:
myVariableName = "John"
myVariableName

'John'

# Pascal Case
Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"
MyVariableName

'John'

# Snake Case
Each word is separated by an underscore character:

In [ ]:
my_variable_name = "John"
my_variable_name

'John'

# Assign Multiple Values

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables

In [64]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Output Variables
The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

# Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

#  Data
In general mainly data present in two form
English and number like this in python
* String=text or English
* number= numeric

# String Data type
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# String modification
When we write english in genral there are so many mistake occurs like spelling mistake, small letter use place of capital letter etc.

In [ ]:
# The upper() method returns the string in upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
# The lower() method returns the string in lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
# Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
# Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
# capitalize()	Converts the first character to upper case
a="apple, banana"
a.capitalize()

'Apple, banana'

In [ ]:
# casefold()	Converts string into lower case
a = "Hello, World!"
a.casefold()

'hello, world!'

In [ ]:
# center()	Returns a centered string
a="Hello World"
a.center(20)

'    Hello World     '

In [ ]:
# count()	Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
# The encode() method encodes the string, using the specified encoding. If no encoding is specified, UTF-8 will be used.
txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [65]:
# The endswith() method returns True if the string ends with the specified value, otherwise False.
txt = "Hello, welcome to my world."

x = txt.endswith("d")

print(x)

False

In [ ]:
# The expandtabs() method sets the tab size to the specified number of whitespaces.
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
# The find() method finds the first occurrence of the specified value.
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
# The format() method formats the specified value(s) and insert them inside the string's placeholder.
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [68]:
# The index() method finds the first occurrence of the specified value.
txt = "Hello, welcome to my world."

x = txt.index("Welcome")

print(x)

ValueError: ignored

In [ ]:
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9)
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
# The isalpha() method returns True if all the characters are alphabet letters (a-z).
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
# The isascii() method returns True if all the characters are ascii characters  (a-z).
txt = "Company123"

x = txt.isascii()

print(x)

True

In [ ]:
# The isdecimal() method returns True if all the characters are decimals (0-9).
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [ ]:
# The isdigit() method returns True if all the characters are digits, otherwise False.
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
# The islower() method returns True if all the characters are in lower case, otherwise False
txt = "hello world!"

x = txt.islower()

print(x)

True

In [ ]:
# The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
# The isprintable() method returns True if all the characters are printable, otherwise False.
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
# The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
txt = "   "

x = txt.isspace()

print(x)

True

In [ ]:
# The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
# The isupper() method returns True if all the characters are in upper case, otherwise False.
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
# The join() method takes all items in an iterable and joins them into one string.
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
# The ljust() method will left align the string, using a specified character (space is default) as the fill character.
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
# The lstrip() method removes any leading characters (space is the default leading character to remove)
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
# The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
# The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
# The replace() method replaces a specified phrase with another specified phrase.
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
# The rfind() method finds the last occurrence of the specified value.
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [ ]:
# The rindex() method finds the last occurrence of the specified value
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [ ]:
# The rjust() method will right align the string, using a specified character (space is default) as the fill character.
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit")

              banana is my favorite fruit

In [ ]:
# The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
# The rsplit() method splits a string into a list, starting from the right.
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [ ]:
# The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

In [ ]:
# The split() method splits a string into a list.
txt = "welcome to the jungle"

x = txt.split()

print(x)

In [ ]:
# The splitlines() method splits a string into a list. The splitting is done at line breaks.
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# The startswith() method returns True if the string starts with the specified value, otherwise False.
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
# The strip() method removes any leading, and trailing whitespaces.
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
# The swapcase() method returns a string where all the upper case letters are lower case and vice versa.
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
# The title() method returns a string where the first character in every word is upper case.
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
# The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
# The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

# Extracting information from string.

In [ ]:
# Slice on information
a = "Hello, World!"
print(a[1])

e

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
# Slicing Strings
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
# Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
# Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
# Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

# Join two string

In [ ]:
# Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Escape Characters
To insert characters that are illegal in a string, use an escape character.

In [ ]:
txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called \"Vikings\" from the north."

SyntaxError: ignored

In [ ]:
# \' Single Quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [ ]:
# \\ 	Backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [ ]:
# \n New line
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [ ]:
# \r Carriage Return
txt = "Hello\rWorld!"
print(txt)

World!

In [ ]:
# \t 	Tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [ ]:
#  \b 	Backspace
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [ ]:
# \ooo Octal value
txt = "\110\145\154\154\157"
print(txt)

Hello

In [ ]:
# \xhh 	Hex value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

#

# Check String

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True